<!DOCTYPE html>
<html lang="en">
<html>
<head>  
  <meta charset="utf-8" />
  <title>DumbJokeService</title>
</head>
 
<body>
<header>
  <nav>
    <ol>dette skal kun stå en gang. please</ol>
    <ol>virker hbs overhovedet længere?</ol>
    <ol>ja</ol>
    </nav>

</header>
{{{body}}}


</body>
</html>